<footer class="bg-dark text-white mt-5 p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="text-secondary">Copyright © 2025 Nexcent Ltd.<br>All rights reserved</p>
        <div>
          <div class="rounded-5 d-inline-flex align-items-center justify-content-center me-2" style =" width: 40px;  height: 35px; background-color: gray;">
             <i class="bi bi-instagram mx-2"></i>
          </div>
           <div class="rounded-5 d-inline-flex align-items-center justify-content-center me-2" style =" width: 40px;  height: 35px; background-color: gray;">
          <i class="bi bi-gear mx-2"></i>
          </div>
           <div class="rounded-5 d-inline-flex align-items-center justify-content-center me-2" style =" width: 40px;  height: 35px; background-color: gray;">
          <i class="bi bi-twitter mx-2"></i>
          </div>
          <div class="rounded-5 d-inline-flex align-items-center justify-content-center" style =" width: 40px;  height: 35px; background-color: gray;">
          <i class="bi bi-youtube mx-2"></i>
          </div>
          
        </div>
      </div>
      <div class="col-6 col-md-3">
        <h5>Company</h5>
        <ul class="list-unstyled">
          <li class="mb-2 mt-4">About</li>
          <li class="mb-2">Blog</li>
          <li class="mb-2">Contact us</li>
          <li class="mb-2">Pricing</li>
          <li class="mb-2">Testimonials</li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li class="mb-2 mt-4">Help center</li>
          <li class="mb-2">Terms of service</li>
          <li class="mb-2">Legal</li>
          <li class="mb-2">Privacy policy</li>
          <li class="mb-2">Status</li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h5>Stay up to date</h5>
        <div class="input-group">
          <input type="email" class="form-control border-0" placeholder="Your email address" aria-label="Your email address"  style="background-color: gray; ">
         <span class="input-group-text border-0" style="background-color: gray;">
            <i class="bi bi-send  text-white"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
