<nav class="navbar navbar-expand-lg navbar-dark bg-dark  p-0 mb-0">
  <div class="container">
          <a class="navbar-brand ms-5 "href="#">
             <span class="fw-normal fs-5">General</span><br>
             <span class="text-primary fw-semibold fs-3">Project</span>
          </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
       </button>

        <div class="collapse navbar-collapse centered-links" id="navbarContent">
          <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link cr" routerLinkActive="page" routerLink="/Home" style="cursor: pointer;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cr"routerLinkActive="page" routerLink="/services" style="cursor: pointer;">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cr" routerLinkActive="page" routerLink="/team" style="cursor: pointer;">Find a Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cr" routerLinkActive="page" routerLink="/About" style="cursor: pointer;">About us</a>
        </li>
      </ul>

        <div class="d-flex align-items-center ms-5">
          <button class="btn btn-light text-primary me-2">Login</button>
          <button class="btn btn-primary">Sign up</button>
      </div>
 
      </div>
        </div>
       
</nav>

